/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import 'tailwindcss';

@theme {
  --font-family: 'Tajawal', sans-serif;

  --color-primary: #0a0a0a;
  --color-secondary: #f97316;
  --color-light-100: #1a1a1a;
  --color-light-200: #2a2a2a;
  --color-light-300: #3a3a3a;
}

body {
  @apply font-family  text-white;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#333] rounded-sm;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

::-webkit-scrollbar {
  @apply w-2;
}

::selection {
  @apply text-white bg-secondary;
}

button {
  @apply cursor-pointer;
}

@utility gradient-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(135deg, #f97316, #fbbf24);
  -webkit-background-clip: text;
  background-clip: text;
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center cursor-pointer px-8 py-4 font-semibold text-white rounded-full bg-linear-to-br from-orange-500 to-orange-600 transition-all duration-300;
  }

  .glass-card {
    border-radius: var(--radius-3xl);
    -webkit-backdrop-filter: blur(20px);
    background: #161616cc;
    border: 1px solid #262626;
  }
}
